name: Generate ASCII

on:  
  push 
jobs: 
  ascii_job: 
    runs-on: ubuntu-latest
    steps: 
     - name: checkout repo 
       uses: actions/checkout@v5

  list_repo:
    runs-on: ubuntu-latest 
    steps:
     - name: list repo files 
       run: ls -ltra


        # - name: List and Read files 
        #   run: | 
        #     echo "my first Github actions job"
        #     ls -ltr
        #     cat "README.md"
        
  execute_repo:
    runs-on: ubuntu-latest 
    steps:
     - name: executing shell script
       run: |
        chmod +x script.sh
        ./script.sh

   
    #  - name: generate ASCII diagram 
    #    run: cowsay -f dragon "run for cover I am coming for you" > dragon.txt 

    #  - name: check file exists 
    #    run: grep -i "dragon" dragon.txt 

    #  - name: permission to display file 
    #    run: cat dragon.txt
   

       