name: Generate ASCII

on:  
  push 
jobs: 
  ascii_job: 
    runs-on: ubuntu-latest
    steps: 
     - name: checkout repo 
       uses: actions/checkout@v5

  list_repo:
    needs: ascii_job
    runs-on: ubuntu-latest 
    steps:
    - name: list repo files 
      run: ls -ltr
   

    - name: install cowsay 
      run: sudo apt-get install cowsay -y 
    
    - name: generate ASCII diagram 
      run: cowsay -f dragon "run for cover I am coming for you" > dragon.txt 

    - name: make directory 
      run: mkdir path/to/artifact/dragon.txt

    - name: upload artifact 
    #   run: mkdir -p path/to/artifact
    # - run: echo hello > path/to/artifact/world.txt
      uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: path/to/artifact/dragon.txt
   


        # - name: List and Read files 
        #   run: | 
        #     echo "my first Github actions job"
        #     ls -ltr
        #     cat "README.md"
        
  deploy_job:
    needs: list_repo 
    runs-on: ubuntu-latest 
    steps:

    - name: Download artifacts 
      uses: actions/download-artifact@v5
      with:
       name: dragon.txt
       path: path/to/artifact/dragon.txt 

    - name: Display structure of downloaded files
      run: ls -R
  

    - name: read file
      run: cat dragon.txt

   
   

    #  - name: check file exists 
    #    run: grep -i "dragon" dragon.txt 

    #  - name: permission to display file 
    #    run: cat dragon.txt
   

       