name: my First workflow 

on:  push 
jobs: 
    first_job: 
        runs-on: ubuntu-latest
        steps: 
        - name: checkout repo 
          uses: actions/checkout@v5

        - name: List and Read files 
          run: | 
            echo "my first Github actions job"
            ls -ltr
            cat "README.md"
        - name: install cowsay program
          run: sudo apt-get install cowsay -y
        - name: generate ASCII diagram 
          run: cowsay -f dragon "run for cover" I am a dragon RAGGHHHH > dragon.txt 

        - name: permission to display file 
          run: cat "dragon.txt" 

       