name: Generate ASCII

on:  
  push 
jobs: 
  ascii_job: 
    runs-on: ubuntu-latest
    steps: 
     - name: checkout repo 
       uses: actions/checkout@v5

        # - name: List and Read files 
        #   run: | 
        #     echo "my first Github actions job"
        #     ls -ltr
        #     cat "README.md"

     - name: executing shell script
       run: ./script.sh

     - name: permission for shell script
       run: chmod +x script.sh

    #  - name: generate ASCII diagram 
    #    run: cowsay -f dragon "run for cover I am coming for you" > dragon.txt 

    #  - name: check file exists 
    #    run: grep -i "dragon" dragon.txt 

    #  - name: permission to display file 
    #    run: cat dragon.txt
        
    #  - name: list repo files 
    #    run: ls -ltra

       