# name: Exploring variables and secrets 

# on: 
#     push
# #### env variable at the step level#######
# jobs:
#     docker: 
#       runs-on: ubuntu-latest
#       steps:
#       - name: Docker build
#         env: 
#           CONTAINER_REGISTRY: docker.io 
#           DOCKER_USERNAME: raven-soprano
#           IMAGE_NAME: github-actions-nginx
#         run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
#       - name: Docker login
#         env:
#           DOCKER_PASSWORD: s3cUr3PassWord
#           DOCKER_USERNAME: raven-soprano
#         run: echo docker login --username-$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#       - name: Docker Publish 
#         env:
#           CONTAINER_REGISTRY: docker.io
#           DOCKER_USERNAME: raven-soprano
#           IMAGE_NAME: github-actions-nginx
#         run: echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest 

#     deploy:
#       runs-on: ubuntu-latest
#       steps: 
#       - name: docker run
#         run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME:latest 
        
################################################################################################################################

  # docker: 
  #   runs-on: ubuntu-latest 
  #   steps: 
  #    - name: Docker build 
  #      run: docker build -t docker.io/dockerUsername/imagineName:latest

  #    - name: Docker login 
  #      run: docker login --username=dockerUsername --password=s3cUr3PassWord

  #    - name: Docker Publish
  #      run: docker push docker.io/dockerUsername/imagineName:latest 


  # deploy: 
  #   needs: docker 
  #   runs-on: ubuntu-latest 
  #   steps: 
  #   - name: docker run
  #     run: docker run -d -p 8080:80 docker.io/dockerUsername/imagineName:latest 

######################################################################################


name: Exploring variables and secrets 

on: 
    push
    
   
jobs:
    docker: 

      runs-on: ubuntu-latest
      steps:
      - name: checkout code 
        run: actions/checkout@v4 
        
      - name: Docker build
        run: echo docker build -t ${{ vars.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/${{ vars.IMAGE_NAME }}:latest .

      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login ${{ vars.CONTAINER_REGISTRY }}\
        --username ${{ vars.DOCKER_USERNAME }} --password-stdin

        # run: echo docker login --username=${{ vars.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Publish 
        run: echo docker push ${{ vars.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/${{ vars.IMAGE_NAME }}:latest 

    deploy:
      needs: docker 
      runs-on: ubuntu-latest
      steps: 

      - name: Pull and run container 
        run:  |
          docker pull ${{ vars.CONTAINER_REGISTRY}}/${{ VARS.DOCKER_USERNAME}}/${{ vars.IMAGE_NAME}}: latest 
          docker run -d -p 8080:80 ${{ vars.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/${{ vars.IMAGE_NAME }}:latest 