# name: Exploring variables and secrets 

# on: 
#     push
# #### env variable at the step level#######
# jobs:
#     docker: 
#       runs-on: ubuntu-latest
#       steps:
#       - name: Docker build
#         env: 
#           CONTAINER_REGISTRY: docker.io 
#           DOCKER_USERNAME: raven-soprano
#           IMAGE_NAME: github-actions-nginx
#         run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
#       - name: Docker login
#         env:
#           DOCKER_PASSWORD: s3cUr3PassWord
#           DOCKER_USERNAME: raven-soprano
#         run: echo docker login --username-$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#       - name: Docker Publish 
#         env:
#           CONTAINER_REGISTRY: docker.io
#           DOCKER_USERNAME: raven-soprano
#           IMAGE_NAME: github-actions-nginx
#         run: echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest 

#     deploy:
#       runs-on: ubuntu-latest
#       steps: 
#       - name: docker run
#         run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME:latest 
        
################################################################################################################################

  # docker: 
  #   runs-on: ubuntu-latest 
  #   steps: 
  #    - name: Docker build 
  #      run: docker build -t docker.io/dockerUsername/imagineName:latest

  #    - name: Docker login 
  #      run: docker login --username=dockerUsername --password=s3cUr3PassWord

  #    - name: Docker Publish
  #      run: docker push docker.io/dockerUsername/imagineName:latest 


  # deploy: 
  #   needs: docker 
  #   runs-on: ubuntu-latest 
  #   steps: 
  #   - name: docker run
  #     run: docker run -d -p 8080:80 docker.io/dockerUsername/imagineName:latest 

######################################################################################


name: Exploring variables and secrets 

on: 
    push

env:
    CONTAINER_REGISTRY: docker.io 
    DOCKER_USERNAME: raven-soprano
    IMAGE_NAME: github-actions-nginx

jobs:
    docker: 

      runs-on: ubuntu-latest
      steps:
      - name: Docker build
        run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

      - name: Docker login
        env:
          DOCKER_PASSWORD: Youarerocking89
        run: echo docker login --username-$DOCKER_USERNAME --password=$DOCKER_PASSWORD

      - name: Docker Publish 
        run: echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest 

    deploy:
      needs: docker 
      runs-on: ubuntu-latest
      steps: 
      - name: docker run
        run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME:latest 